/******************************************/
/**************PROPIOS*********************/
@import url(http://fonts.googleapis.com/css?family=Lato:100300,400,700,900,100italic,300italic,400italic,700italic,900italic);@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

body, html {
    height: 100%;
	font-family:'Lato', sans-serif;
	text-rendering:optimizeLegibility !important;
	-webkit-font-smoothing:antialiased !important;	
}
/************Styles******************/	
.card{
	width: 330px !important;
	min-height: 350px !important;
	padding-top: 30px;
}

.card-obj{
	position: absolute;
	width: 63px;
	height: 40px;
	left: 134px;
	top: -20px;
	background: linear-gradient(180deg, #A288A8 0%, #AC5A5A 100%);
}

.separate-down1{
	margin-bottom: 20px;
}

img:hover{
   	transform:scale(1.2);
    -ms-transform:scale(1.2); // IE 9 
    -moz-transform:scale(1.2); // Firefox 
    -webkit-transform:scale(1.2); // Safari and Chrome 
    -o-transform:scale(1.2); // Opera        
}
/************Text Class******************/	
.titulo{
	text-align:center;
	font-style: italic;
}

.sh1{
	font-family: Avenir Next LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 54px;
	line-height: 111.8%;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.sh2{
	font-family: Avenir Next LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 43px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #AC5A5A;
	
}

.sp2{
	font-family: Avenir Next LT Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #6A6A6A;
}
/************Sections**********************/	
#section1 {
	background-color:#000000;
	color:  #FFFFFF;	
	padding-top: 20px;
	padding-bottom: 80px;
}

#section2 {
	padding-top:60px;
	padding-bottom: 60px;
	background-color:#FFFFFF;
}

#section2-2 {
	padding-top:80px;
	padding-bottom: 80px;	
}

#section3 {
	padding-top:100px;
	padding-bottom: 200px;
}

#section3-1
{
	width: 50%;	
	padding-bottom: 50px;
}
/*****************************************/
/***********Backgrounds*******************/

.bckg-1{
	background-image:url('../cont/img3.png'),url('../cont/img4.png') ;
	background-position: right, left; 	
	background-repeat: no-repeat, no-repeat;	
	background-size: contain, contain;   		
}

.bckg-2{
	background-image: url('../cont/img2.png');
	background-repeat: no-repeat;
	background-position: 80%;
	background-size: contain;   	
}

.bckg-3{
	background-image:url('../cont/img5.png'), url('../cont/img6.png');
	background-position: left top,  100% 100%; 	
	background-repeat: no-repeat,no-repeat;	
	background-size: auto, auto;   
}

.bckg-4{
	background-image: url('../cont/img7.png') ;
	background-position: 90% 70%; 	
	background-repeat: no-repeat;	
	background-size: auto;  
	background-color:#F5F3F6; 
}
.bckg-5 {
	background-image:url('../cont/img8.png');
	background-position: bottom;
	background-repeat: repeat-x;	
	background-size: auto;  	
}

.bckg-6{
	background-image:url('../cont/img9.png'), url('../cont/img10.png'), url('../cont/img8.png'), url('../cont/img11.png');
	background-position: 0% 20%,  100% 80%, 50% 100% ,100% 100%; 	
	background-repeat: no-repeat,no-repeat, repeat-x, no-repeat;	
	background-size: auto, auto, auto, auto;   
}


/*************************************/
/***********Buttons*******************/
.btn-primary{
	background-color: #A288A8 !important;
	border-color: #A288A8;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: Avenir Next LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 135.8%;
	align-items: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.btn-primary:hover{
	background-color: #403643 !important;
	border-color: #403643;	
}

.btn-secondary{
	background-color: #FFFFFF !important;
	border-color: #A288A8;
	color: #A288A8 !important;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: Avenir Next LT Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	align-items: center;
	text-transform: uppercase;
}

.btn-secondary:hover{	
	border-color: #403643 !important;	
	color: #403643 !important;
}
/***********************************/
/*********** Footer****************/
#footer {
	background:#000000;
	color:#ffffff;
	padding-top:100px;
	padding-bottom:100px;
	height: 200px;
	font-size: 25px;
}

ul.footer-social li {
	display:inline-block;
	margin-right:30px;
}


#footer a, #footer a:active, #footer a:focus, #footer a:link {
	color:#FEFEFE;
	text-decoration:none !important;
	-webkit-transition:all 0.4s ease 0s;
	-moz-transition:all 0.4s ease 0s;
	-ms-transition:all 0.4s ease 0s;
	-o-transition:all 0.4s ease 0s;
	transition:all 0.4s ease 0s;
	line-height:20px;
}
#footer a:hover {
	color:#A288A8;
	-webkit-transition:all 0.4s ease 0s;
	-moz-transition:all 0.4s ease 0s;
	-ms-transition:all 0.4s ease 0s;
	-o-transition:all 0.4s ease 0s;
	transition:all 0.4s ease 0s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px){
    
 	.card{
	width: 100% !important;	
	}

	.bckg-4{
		background-image: url('../cont/img7.png') ;
		background-position: 100% 90%; 	
		background-repeat: no-repeat;	
		background-size: auto;  
	}
	#section3-1
	{
		width: 80%;	
		padding-bottom: 50px;
	}
}


/***********************************/
/*********** Modal****************/

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	display:none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}
.modalDialog > div {
	width: 60%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #A288A8; }

<html>